.overall{
    background-color: #ececec;
}

.content-container{
    background-color: white;
    padding: 40px 60px;
    border-radius: 10px;
}

.side-container{
    border-radius: 10px;
    padding: 10px 30px;
}

h2, h3{
    color: #142749;
}

.link{
    color: black;
}
.link:hover{
    text-decoration: none;
}

.active-link{
    background-color: #6f86ad;
    color: white;
}
@media (max-width: 768px) {
    .content-container {
        padding: 35px;
    }
}